{% extends "base.html" %}

{% block title %}
аккаунт
{% endblock %}

{% block content %}
    <h1>Welcome, {{ username }}!</h1>
    <p>This is your account page.</p>

    <form method="post" action="{{ url_for('account', username=username) }}">
        {{ form.hidden_tag() }}

        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <span style="color: red">[{{ error }}}</span>
            {% endfor %}
        </p>

         <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
                <span style="color: red">[{{ error }}}</span>
            {% endfor %}
        </p>

         <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <span style="color: red">[{{ error }}}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.submit() }}
        </p>


    </form>
{% endblock %}